.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-box {
    background-color: lightgrey;
    height: 550px;
    width: 400px;
    border-radius: 20px;
}

.result-box {
    background-color: white;
    height: 140px;
    width: 360px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: auto;
}

.display-box {
    background-color: white;
    height: 60px;
    width: 360px;
    margin-right: 20px;
    margin-bottom: 0;
    border-radius: 10px;
    text-align: right;
    font-size: 26px;
    padding: 10px;
    padding-right: 30px;
    box-sizing: border-box;
    overflow-x: auto;
}

.answer-box{
    background-color: white;
    height: 60px;
    width: 360px;
    border-radius: 10px;
    text-align: right;
    font-size: 26px;
    padding: 10px;
    padding-right: 30px;
    box-sizing: border-box;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.button{
    width: 70px;
    height: 40px;
    margin: 10px;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    transform : scale(1.1);
    transition: transform 0.4s;
}
.button:active{
    transform : scale(0.9);
    transition: transform 0.1s;
}

.function-button{
    background-color: orange;
    color: white;
    border: none;
}

.button-row{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}